/* AnimatedItem.css */
.hidden {
  opacity: 0;
  transform: translateY(20px);
}

.animated-item {
    /* width: max-content; */

  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s, transform 0.5s;
}

.animated-item.fade-in {
  opacity: 0;
}

.animated-item.slide-up {
  transform: translateY(30px);
}

.animated-item.scale-in {
  transform: scale(0.8);
}

.animated-item.rotate {
  transform: rotate(-10deg);
}

.animated-item.bounce {
  animation: bounce 0.5s ease-out;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
